In [1]:
from s2s.time import AdventCalendar
import numpy as np
import pandas as pd

In [2]:
cal = AdventCalendar(anchor_date=(10, 15), freq="180d")
cal.map_years(2019, 2021)

i_interval                          0                         1
anchor_year
2021         (2021-04-18, 2021-10-15]  (2020-10-20, 2021-04-18]
2020         (2020-04-18, 2020-10-15]  (2019-10-21, 2020-04-18]
2019         (2019-04-18, 2019-10-15]  (2018-10-20, 2019-04-18]

In [3]:
cal.set_traintest_method("kfold", n_splits = 2)

In [4]:
traintest_group = cal.traintest
traintest_group

                                                  0                         1
anchor_year fold_0 fold_1
2021        test   train   (2021-04-18, 2021-10-15]  (2020-10-20, 2021-04-18]
2020        test   train   (2020-04-18, 2020-10-15]  (2019-10-21, 2020-04-18]
2019        train  test    (2019-04-18, 2019-10-15]  (2018-10-20, 2019-04-18]

In [6]:
cal._intervals

i_interval                          0                         1
anchor_year
2021         (2021-04-18, 2021-10-15]  (2020-10-20, 2021-04-18]
2020         (2020-04-18, 2020-10-15]  (2019-10-21, 2020-04-18]
2019         (2019-04-18, 2019-10-15]  (2018-10-20, 2019-04-18]

In [7]:
traintest_group["i_interval"]

KeyError: 'i_interval'

In [8]:
df_combined = cal._intervals.join(cal._traintest)
df_combined

                                    0                         1 fold_0 fold_1
anchor_year
2021         (2021-04-18, 2021-10-15]  (2020-10-20, 2021-04-18]   test  train
2020         (2020-04-18, 2020-10-15]  (2019-10-21, 2020-04-18]   test  train
2019         (2019-04-18, 2019-10-15]  (2018-10-20, 2019-04-18]  train   test

In [10]:
df_combined.index.name

'anchor_year'

In [9]:
new_index_cols = [cal._intervals.index.name] + list(cal._traintest.columns)
new_index_cols

['anchor_year', 'fold_0', 'fold_1']