In [1]:
import pandas as pd
import s2s.time

In [2]:
cal = s2s.time.AdventCalendar(anchor_date=(11, 30), freq='7d')
cal

AdventCalendar(month=11, day=30, freq=7d, n=52)

In [7]:
intervals = cal.map_years(2020, 2022)
intervals

,t-0,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,...,t-42,t-43,t-44,t-45,t-46,t-47,t-48,t-49,t-50,t-51
2022,"(2022-11-23, 2022-11-30]","(2022-11-16, 2022-11-23]","(2022-11-09, 2022-11-16]","(2022-11-02, 2022-11-09]","(2022-10-26, 2022-11-02]","(2022-10-19, 2022-10-26]","(2022-10-12, 2022-10-19]","(2022-10-05, 2022-10-12]","(2022-09-28, 2022-10-05]","(2022-09-21, 2022-09-28]",...,"(2022-02-02, 2022-02-09]","(2022-01-26, 2022-02-02]","(2022-01-19, 2022-01-26]","(2022-01-12, 2022-01-19]","(2022-01-05, 2022-01-12]","(2021-12-29, 2022-01-05]","(2021-12-22, 2021-12-29]","(2021-12-15, 2021-12-22]","(2021-12-08, 2021-12-15]","(2021-12-01, 2021-12-08]"
2021,"(2021-11-23, 2021-11-30]","(2021-11-16, 2021-11-23]","(2021-11-09, 2021-11-16]","(2021-11-02, 2021-11-09]","(2021-10-26, 2021-11-02]","(2021-10-19, 2021-10-26]","(2021-10-12, 2021-10-19]","(2021-10-05, 2021-10-12]","(2021-09-28, 2021-10-05]","(2021-09-21, 2021-09-28]",...,"(2021-02-02, 2021-02-09]","(2021-01-26, 2021-02-02]","(2021-01-19, 2021-01-26]","(2021-01-12, 2021-01-19]","(2021-01-05, 2021-01-12]","(2020-12-29, 2021-01-05]","(2020-12-22, 2020-12-29]","(2020-12-15, 2020-12-22]","(2020-12-08, 2020-12-15]","(2020-12-01, 2020-12-08]"
2020,"(2020-11-23, 2020-11-30]","(2020-11-16, 2020-11-23]","(2020-11-09, 2020-11-16]","(2020-11-02, 2020-11-09]","(2020-10-26, 2020-11-02]","(2020-10-19, 2020-10-26]","(2020-10-12, 2020-10-19]","(2020-10-05, 2020-10-12]","(2020-09-28, 2020-10-05]","(2020-09-21, 2020-09-28]",...,"(2020-02-03, 2020-02-10]","(2020-01-27, 2020-02-03]","(2020-01-20, 2020-01-27]","(2020-01-13, 2020-01-20]","(2020-01-06, 2020-01-13]","(2019-12-30, 2020-01-06]","(2019-12-23, 2019-12-30]","(2019-12-16, 2019-12-23]","(2019-12-09, 2019-12-16]","(2019-12-02, 2019-12-09]"

In [9]:
# lag 4 (see mark_target_period in time.py)
intervals.iloc[:,4:4+4] # get lag 4 for t-0 to t-3 function(lag, start_target, end_target)
intervals.iloc[:,4:4+4].stack().reset_index(drop=True)

,t-4,t-5,t-6,t-7
2022,"(2022-10-26, 2022-11-02]","(2022-10-19, 2022-10-26]","(2022-10-12, 2022-10-19]","(2022-10-05, 2022-10-12]"
2021,"(2021-10-26, 2021-11-02]","(2021-10-19, 2021-10-26]","(2021-10-12, 2021-10-19]","(2021-10-05, 2021-10-12]"
2020,"(2020-10-26, 2020-11-02]","(2020-10-19, 2020-10-26]","(2020-10-12, 2020-10-19]","(2020-10-05, 2020-10-12]"