Tutorial of `AdventCalendar` module in `s2s` package.

In [1]:
import numpy as np
import pandas as pd
from pandas.tseries.frequencies import to_offset
import s2s.time

In [9]:
time_index = pd.date_range('20210101', '20211231', freq='1d')
var = np.random.random(len(time_index))
# input data in reverse order
test_data = pd.Series(var, index=time_index)
test_data

2021-01-01    0.618939
2021-01-02    0.879941
2021-01-03    0.433489
2021-01-04    0.970278
2021-01-05    0.995151
                ...
2021-12-27    0.354315
2021-12-28    0.393688
2021-12-29    0.693536
2021-12-30    0.430412
2021-12-31    0.502493
Freq: D, Length: 365, dtype: float64

In [6]:
calendar = s2s.time.AdventCalendar(anchor_date=(11, 16), freq='60d')
calendar

AdventCalendar(month=11, day=16, freq=60d, n=6)

In [11]:
intervals = calendar.map_year(2021)
intervals

t-0    (2021-09-17, 2021-11-16]
t-1    (2021-07-19, 2021-09-17]
t-2    (2021-05-20, 2021-07-19]
t-3    (2021-03-21, 2021-05-20]
t-4    (2021-01-20, 2021-03-21]
t-5    (2020-11-21, 2021-01-20]
Name: 2021, dtype: interval

In [ ]:
calendar.resample(test_data)
# (2021-09-17, 2021-11-16] 0.216461235
# (2021-07-19, 2021-09-17] 0.216461235
# ...


# address edge case later

In [30]:
start_time = intervals[0].left
end_time = intervals[0].right
test_data.loc[start_time:end_time]#.mean() # todo: deal with edge values

2021-09-17    0.530244
2021-09-18    0.475687
2021-09-19    0.837126
2021-09-20    0.253069
2021-09-21    0.950586
                ...
2021-11-12    0.899377
2021-11-13    0.544135
2021-11-14    0.902241
2021-11-15    0.919609
2021-11-16    0.752870
Freq: D, Length: 61, dtype: float64

In [23]:
test_data.between_time(start_time="", end_time=intervals[0].right.date(), inclusive="right")

ValueError: Cannot convert arg [datetime.date(2021, 9, 17)] to a time

In [12]:
intervals[0].contains(test_data)

Interval('2021-09-17', '2021-11-16', closed='right')

Create AdventCalendar instance.

In [2]:
calendar = s2s.time.AdventCalendar(anchor_date=(11, 30), freq='3d')
calendar

AdventCalendar(month=11, day=30, freq=3d, n=121)

Map the calendar to a single year.

In [3]:
intervals = calendar.map_year(2020)
intervals

t-0      (2020-11-27, 2020-11-30]
t-1      (2020-11-24, 2020-11-27]
t-2      (2020-11-21, 2020-11-24]
t-3      (2020-11-18, 2020-11-21]
t-4      (2020-11-15, 2020-11-18]
                   ...
t-116    (2019-12-15, 2019-12-18]
t-117    (2019-12-12, 2019-12-15]
t-118    (2019-12-09, 2019-12-12]
t-119    (2019-12-06, 2019-12-09]
t-120    (2019-12-03, 2019-12-06]
Name: 2020, Length: 121, dtype: interval

Map the calendar to multiple years (start year - end year).

In [4]:
intervals = calendar.map_years(2020, 2022)
intervals

,t-0,t-1,t-2,t-3,t-4,t-5,t-6,t-7,t-8,t-9,...,t-111,t-112,t-113,t-114,t-115,t-116,t-117,t-118,t-119,t-120
2022,"(2022-11-27, 2022-11-30]","(2022-11-24, 2022-11-27]","(2022-11-21, 2022-11-24]","(2022-11-18, 2022-11-21]","(2022-11-15, 2022-11-18]","(2022-11-12, 2022-11-15]","(2022-11-09, 2022-11-12]","(2022-11-06, 2022-11-09]","(2022-11-03, 2022-11-06]","(2022-10-31, 2022-11-03]",...,"(2021-12-29, 2022-01-01]","(2021-12-26, 2021-12-29]","(2021-12-23, 2021-12-26]","(2021-12-20, 2021-12-23]","(2021-12-17, 2021-12-20]","(2021-12-14, 2021-12-17]","(2021-12-11, 2021-12-14]","(2021-12-08, 2021-12-11]","(2021-12-05, 2021-12-08]","(2021-12-02, 2021-12-05]"
2021,"(2021-11-27, 2021-11-30]","(2021-11-24, 2021-11-27]","(2021-11-21, 2021-11-24]","(2021-11-18, 2021-11-21]","(2021-11-15, 2021-11-18]","(2021-11-12, 2021-11-15]","(2021-11-09, 2021-11-12]","(2021-11-06, 2021-11-09]","(2021-11-03, 2021-11-06]","(2021-10-31, 2021-11-03]",...,"(2020-12-29, 2021-01-01]","(2020-12-26, 2020-12-29]","(2020-12-23, 2020-12-26]","(2020-12-20, 2020-12-23]","(2020-12-17, 2020-12-20]","(2020-12-14, 2020-12-17]","(2020-12-11, 2020-12-14]","(2020-12-08, 2020-12-11]","(2020-12-05, 2020-12-08]","(2020-12-02, 2020-12-05]"
2020,"(2020-11-27, 2020-11-30]","(2020-11-24, 2020-11-27]","(2020-11-21, 2020-11-24]","(2020-11-18, 2020-11-21]","(2020-11-15, 2020-11-18]","(2020-11-12, 2020-11-15]","(2020-11-09, 2020-11-12]","(2020-11-06, 2020-11-09]","(2020-11-03, 2020-11-06]","(2020-10-31, 2020-11-03]",...,"(2019-12-30, 2020-01-02]","(2019-12-27, 2019-12-30]","(2019-12-24, 2019-12-27]","(2019-12-21, 2019-12-24]","(2019-12-18, 2019-12-21]","(2019-12-15, 2019-12-18]","(2019-12-12, 2019-12-15]","(2019-12-09, 2019-12-12]","(2019-12-06, 2019-12-09]","(2019-12-03, 2019-12-06]"

Flatten the indices.

In [5]:
intervals = calendar.map_years(2020, 2022, flat=True)
intervals

0      (2022-11-27, 2022-11-30]
1      (2022-11-24, 2022-11-27]
2      (2022-11-21, 2022-11-24]
3      (2022-11-18, 2022-11-21]
4      (2022-11-15, 2022-11-18]
                 ...
358    (2019-12-15, 2019-12-18]
359    (2019-12-12, 2019-12-15]
360    (2019-12-09, 2019-12-12]
361    (2019-12-06, 2019-12-09]
362    (2019-12-03, 2019-12-06]
Length: 363, dtype: interval

Map the calendar to the input data.

Discard function.

In [6]:
# lag 4 (see mark_target_period in time.py)
# intervals.iloc[:,4:4+4] # get lag 4 for t-0 to t-3 function(lag, start_target, end_target)
# intervals.iloc[:,4:4+4].stack().reset_index(drop=True)

Resample the input data with target frequency.

Upscale with `pd.Series` and `pd.DateFrame`.

In [7]:
time_index = pd.date_range('20211101', '20211116', freq='1d')
var = np.random.random(len(time_index))
# input data in reverse order
test_data = pd.Series(var[::-1], index=time_index[::-1])
test_data

2021-11-16    0.949412
2021-11-15    0.510392
2021-11-14    0.281098
2021-11-13    0.198509
2021-11-12    0.674174
2021-11-11    0.978335
2021-11-10    0.043997
2021-11-09    0.597530
2021-11-08    0.104054
2021-11-07    0.323263
2021-11-06    0.416058
2021-11-05    0.602950
2021-11-04    0.395967
2021-11-03    0.102207
2021-11-02    0.683043
2021-11-01    0.394318
Freq: -1D, dtype: float64

In [8]:
# resample data
resample_data = calendar.resample(test_data, target_freq='5d', label="right")
# modify index
loffset = '-1d'
resample_data.index = resample_data.index + to_offset(loffset)
resample_data.rename(index={resample_data.index[-1]:test_data.index[-1]}, inplace=True)
resample_data

2021-11-16    0.522717
2021-11-11    0.409436
2021-11-06    0.440045
2021-11-01    0.394318
dtype: float64

In [9]:
# input data in normal order
var_1 = np.random.random(len(time_index))
var_2 = np.random.random(len(time_index))
test_data = pd.DataFrame({"var_1": var_1, "var_2": var_2}, index=time_index)
test_data

               var_1     var_2
2021-11-01  0.942670  0.323034
2021-11-02  0.410161  0.343438
2021-11-03  0.383024  0.731299
2021-11-04  0.091761  0.102976
2021-11-05  0.725443  0.947543
2021-11-06  0.201507  0.488501
2021-11-07  0.407095  0.249866
2021-11-08  0.405472  0.223313
2021-11-09  0.348221  0.395408
2021-11-10  0.957883  0.209745
2021-11-11  0.248228  0.967793
2021-11-12  0.710092  0.108694
2021-11-13  0.584724  0.784839
2021-11-14  0.084491  0.350684
2021-11-15  0.562401  0.431191
2021-11-16  0.411930  0.825616

In [10]:
# resample data
resample_data = calendar.resample(test_data, target_freq='5d', label="left")
resample_data

               var_1     var_2
2021-11-01  0.510612  0.489658
2021-11-06  0.464035  0.313366
2021-11-11  0.437987  0.528640
2021-11-16  0.411930  0.825616

Downscale with `pd.Series` and `pd.DateFrame`.

In [11]:
time_index = pd.date_range('20211101', '20211116', freq='2d')
data = np.random.random(len(time_index))
test_data = pd.Series(data[::-1], index=time_index[::-1])
test_data

2021-11-15    0.795974
2021-11-13    0.375969
2021-11-11    0.982826
2021-11-09    0.272582
2021-11-07    0.628695
2021-11-05    0.616569
2021-11-03    0.208658
2021-11-01    0.019459
Freq: -2D, dtype: float64

In [12]:
resample_data = calendar.resample(test_data, target_freq='1d')
resample_data

/home/yangliu/AI4S2S/ai4s2s/s2s/time.py:257: UserWarning: Target frequency is smaller than the original frequency.It is downscaling and please check the returned values.
  warnings.warn("Target frequency is smaller than the original frequency."

2021-11-15    0.795974
2021-11-14         NaN
2021-11-13    0.375969
2021-11-12         NaN
2021-11-11    0.982826
2021-11-10         NaN
2021-11-09    0.272582
2021-11-08         NaN
2021-11-07    0.628695
2021-11-06         NaN
2021-11-05    0.616569
2021-11-04         NaN
2021-11-03    0.208658
2021-11-02         NaN
2021-11-01    0.019459
Freq: -1D, dtype: float64